.order-complete {
  width: 65rem;
  max-width: 100%;
  margin: 1rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
  &__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
      margin-bottom: 1.25rem;
    }

    h3 {
      font-size: 2.1875rem;
      text-align: center;
    }

    p {
      color: $secondary;
      margin-bottom: 0;
      text-align: center;
    }
  }

  .order-info {
    width: 100%;
    border: 2px dashed $secondary;
    padding: 1.5rem;
    display: flex;
    gap: 1rem;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      flex-grow: 1;

      label {
        font-size: 0.875rem;
        font-weight: 400;
        color: $secondary;
      }

      span {
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }

  .checkout__totals {
    width: 100%;

    .checkout-cart-items thead th:last-child {
      text-align: right;
    }

    .checkout-cart-items tbody td:last-child {
      text-align: right;
    }
  }

  .checkout-totals {
    tbody td:last-child {
      text-align: right;
    }
  }
  .shopping-cart__product-item__detail{
    .shopping-cart__product-item__options {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: .5rem;
      h4{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;
      }
    }
    .shopping-title{
      font-size: 16px;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
    .shopping-sky {
      margin-bottom: 0.25rem;
    }
  } 
  .shopping-cart__subtotal {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
  }
  .image_previews img{
    width: 25px;
    height: 25px;
  }
  .shopping-cart__product-item{
    img{
      width: 100px;
      height: auto;
      @include media-breakpoint-down(xl) {
        width: 150px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .order-diy-row{
      flex: 1;
    }
  }
  .order-details-row{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .order-details-img{
      width: 100px;
      height: auto;
    }
    .order-details-info {
      flex: 1;
      padding-right: 12px; 
    }
    .order-details-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
    }
    @include media-breakpoint-down(md) {
      .order-details-info{
        flex: auto;
        padding-right: 0;
      }
      .order-details-img{
        width: 100%;
        text-align: center;
       img{
        margin: 0 auto;
       }
      }
      .order-details-right{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}