.product-single {
  .product-diamond__thumbnail {
    display: grid;
    gap: 15px;
     grid-template-columns: repeat(2, 1fr);
     @include media-breakpoint-down(sm) {
       grid-template-columns: repeat(1, 1fr);
     }
   
    .diamond-iframe {
      position: relative;
      width: 100%;
      padding-top: 100%;
      height: 0;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
    .product-diamond__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & {
    >.row {
      @include media-breakpoint-up(xl) {
        --bs-gutter-x: 2.75rem;
      }
    }

    &__media {
      display: flex;
      width: 100%;
      position: relative;
      flex-direction: column;
      margin-bottom: 3rem;

      @include media-breakpoint-up(lg) {
        flex-direction: row;
        margin-bottom: 0;
      }

      .swiper-container {
        width: 100%;

        &.start-with-a-setting {
          .swiper-wrapper {
            justify-content: center;
          }

          padding-top: 10px;

          .product-single__image-item {
            img {
              width: 104px;
              height: 104px;
              object-fit: cover;
            }
          }

          @media (max-width: 991px) {
            display: none;
          }
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        width: 2.1875rem;
        height: 2.1875rem;
        background-color: #fff;
        border-radius: 2rem;
        font-size: 0.875rem;
        color: $primary;

        &:hover {
          background-color: #e4e4e4;
        }

        &:after {
          display: none;
        }

        @include media-breakpoint-up(sm) {
          width: 2.8125rem;
          height: 2.8125rem;
        }
      }

      .swiper-button-prev {
        left: 1rem;
        z-index: 1;

        @include media-breakpoint-up(sm) {
          left: 2rem;
        }
      }

      .swiper-button-next {
        right: 1rem;
        z-index: 1;

        @include media-breakpoint-up(sm) {
          right: 2rem;
        }
      }

      &.vertical-thumbnail {
        padding-bottom: 70px;

        @include media-breakpoint-down(lg) {
          padding-bottom: 10px;
          margin-bottom: 1rem;
        }
       
        .product-single__image {
          flex: 0 0 85.7142%;
          max-width: 85.7142%;
          text-align: center;

          @include media-breakpoint-down(lg) {
            flex: 0 0 100%;
            max-width: 100%;
          }

          &-item {
            position: relative;
            display: block !important;
            padding: 0.3125rem;
            @include media-breakpoint-down(lg) {
              
            }

            >a,
            >button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 2.8125rem;
              height: 2.8125rem;
              position: absolute;
              right: 1.875rem;
              bottom: 1.875rem;
              border-radius: 2rem;
              background-color: #fff;
              transition: all 0.3s ease;

              &:hover {
                background-color: #e4e4e4;
              }

              svg {
                pointer-events: none;
              }

              @include media-breakpoint-down(sm) {
                width: 2.1875rem;
                height: 2.1875rem;
                right: 1rem;
                bottom: 1rem;

                svg {
                  width: 0.7775rem;
                  height: 0.7775rem;
                }
              }

              &.view-video {
                bottom: 6rem;
                border: 0;

                .flaticon {
                  font-size: 1rem;
                  pointer-events: none;
                }

                @include media-breakpoint-down(sm) {
                  bottom: 4rem;

                  .flaticon {
                    font-size: 0.75rem;
                  }
                }
              }

              &.product-degree {
                left: 1.875rem;
                top: 1.875rem;
                right: auto;
                bottom: auto;
                background-color: transparent;
                width: auto;
                height: auto;
                padding-top: 0.5rem;
                padding-right: 0.5rem;

                .flaticon {
                  font-size: 2.5rem;
                  pointer-events: none;
                }

                @include media-breakpoint-down(sm) {
                  left: 1rem;
                  top: 1rem;
                  right: auto;
                  bottom: auto;

                  .flaticon {
                    font-size: 1.5rem;
                  }
                }
              }
            }
          }

          img {
            max-width: 100%;
            width: auto;
          }
        }

        .product-single__thumbnail {
          flex: 0 0 100%;
          max-width: 1000%;
          order: 1;
          .swiper-container{
            max-height: 684px;
          }

          @include media-breakpoint-up(lg) {
            flex: 0 0 14.2857%;
            max-width: 14.2857%;
            order: -1;
          }

          .swiper-slide {
            cursor: pointer;
            opacity: 0.3;
            border: 0;

            &.swiper-slide-thumb-active {
              opacity: 1;
            }
            img{
              height: auto;
            }
          }
        }
      }

      &.horizontal-thumbnail {
        flex-direction: column;

        .product-single__image {
          flex: 0 0 100%;
          max-width: 100%;

          &-item {
            position: relative;
            display: block !important;
            //padding: 0.3125rem;

            >a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 2.8125rem;
              height: 2.8125rem;
              position: absolute;
              right: 1.875rem;
              bottom: 1.875rem;
              border-radius: 2rem;
              background-color: #fff;
              transition: all 0.3s ease;

              &:hover {
                background-color: #e4e4e4;
              }

              svg {
                pointer-events: none;
              }
            }
            .dia-lw {
              height: auto;
              margin: 0 auto;
              @include media-breakpoint-down(md) {
                height: auto;
              }
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .product-single__thumbnail {
          flex: 0 0 100%;
          max-width: 100%;
          .product-single__image{
            &-item {
              padding: 0.3125rem; 
            }
          }
          .swiper-slide {
            cursor: pointer;
            opacity: 0.5;
            border: 0;

            &.swiper-slide-thumb-active {
              opacity: 1;
            }
            img{
              width: 104px;
              height: 104px;
              object-fit: cover;
              @include media-breakpoint-down(md) {
                height: auto;
              }
            }
          }
        }
      }

      &.vertical-dot {
        @include media-breakpoint-up(lg) {
          padding-left: 5.375rem;
        }

        .product-single__image {
          flex: 0 0 100%;
          max-width: 100%;
          margin: 0;
          position: static;

          .swiper-container {
            position: static;
          }

          .swiper-wrapper {
            margin-bottom: 1rem;

            @include media-breakpoint-up(lg) {
              margin-bottom: 0;
            }
          }

          &-item {
            position: relative;
            display: block !important;
            padding: 1rem;

            @include media-breakpoint-up(sm) {
              padding: 10%;
            }

            >a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 2.8125rem;
              height: 2.8125rem;
              position: absolute;
              right: 1.875rem;
              bottom: 1.875rem;
              border-radius: 2rem;
              background-color: #fff;
              transition: all 0.3s ease;

              &:hover {
                background-color: #e4e4e4;
              }
            }
          }

          img {
            width: 100%;
          }

          .swiper-pagination {
            position: static;
            transform: none;
            flex-direction: row;
            justify-content: center;
            left: 0;
            top: 50%;
            display: flex;
            gap: 0.5rem;
            width: auto;
            bottom: auto;

            @include media-breakpoint-up(lg) {
              position: absolute;
              transform: translateY(-50%);
              flex-direction: column;
            }

            &-bullet:first-child {
              margin-left: 4px;
            }
          }
        }
      }

      .product-label {
        position: absolute;
        left: auto;
        right: 1rem;
        top: 1rem;
        width: 4.5625rem;
        height: 4.5625rem;
        border-radius: 3rem;
        background-color: #d6001c;
        color: #fff;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        padding: 0.5rem;
        text-align: center;
        line-height: 1.4;
        z-index: 1;

        @include media-breakpoint-up(md) {
          right: -1.125rem;
          top: 1.875rem;
        }
      }
    }

    &__prev-next {
      gap: 1.875rem;
      display: none !important;

      @include media-breakpoint-up(lg) {
        display: flex !important;
      }

      >a {
        display: flex;
        align-items: center;
        gap: 0.625rem;

        .flaticon {
          font-size: 0.75rem;
        }

        &.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }

    &__name {
      font-size: 1.625rem;
      line-height: normal;
      @include media-breakpoint-down(xl) {
        font-size: 1.3rem;
      }
      &.title {
        font-size: 1rem;
        padding: .6875rem 1.5625rem .4375rem;
        text-transform: uppercase;
        display: inline-block;
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 1.5625rem;
          // width: 0;
          width: calc(100% - 3.125rem);
          height: 2px;
          background-color: #222;
          transition: width .36s cubic-bezier(.175, .885, .32, 1.275);
        }
      }
    }

    &__rating {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      margin-bottom: 0.625rem;
    }

    &__price {
      font-size: 1.375rem;
      font-weight: 500;
      margin-bottom: 1.25rem;

      span.old-price {
        font-size: 1rem;
        color: $secondary;
        font-weight: 400;
        text-decoration: line-through;
      }

      .special-price {
        color: #d6001c;
        margin-left: 0.5rem;
      }
    }

    &__short-desc {
      margin-bottom: 0.1875rem;
    }

    &__addtocart {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      margin-bottom: 1.5rem;
      flex-wrap: wrap;

      .qty-control {
        min-width: 7.25rem;

        &__number {
          border: 2px solid #e4e4e4;
          height: 3.75rem;
          padding: 0 2rem;
          min-width: 6.5rem;
        }

        &__reduce,
        &__increase {
          font-size: 1rem;
          text-align: center;
          top: 50%;
          transform: translateY(-50%);
          width: 2rem;
        }

        &__reduce {
          padding-left: 1.25rem;
        }

        &__increase {
          padding-right: 1.25rem;
        }
      }

      .btn-addtocart {
        height: 3.75rem;
        text-transform: uppercase;
        font-size: 0.875rem;
        width: 17.5rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;

        &.btn-outofstock {
          border: 2px solid #d6001c;
          color: #d6001c;
          background-color: #fff;
          cursor: default;
          pointer-events: none;
        }
      }

      &.product-single__grouped {
        flex-direction: column;
        align-items: normal;
        gap: 0;

        .grouped-item {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          border-top: 1px solid $border-color;
          padding: 1.25rem 0;

          &:first-child {
            border-top: 0;
            padding-top: 0;
          }

          &__name {
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &__price {
            margin-left: auto;
            font-weight: 500;
          }
        }

        >div:not(.grouped-item) {
          margin-top: 1.2rem;
        }
      }
    }

    &__addtolinks {
      font-size: 0.8125rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 1.4rem;

      >a,
      >.share-button>button {
        display: flex;
        align-items: center;
        gap: 0.625rem;
        padding: 0 0 0.625rem;
        text-transform: uppercase;
        border: 0;
        background-color: transparent;
        font-weight: 500;

        &:hover:after {
          width: 50%;
        }
        &.active{
          color: var(--theme-color);
        }

        .flaticon {
          font-size: 1rem;
        }
      }

      >.add-to-wishlist {
        &.active svg {
          color: var(--theme-color);
        }
      }
    }

    &__meta-info {
      font-size: 14px;
      line-height: 1.5rem;
      margin-bottom: 1.875rem;

      label {
        color: $secondary;
        text-transform: uppercase;
      }
    }

    &__details-tab {
      margin: 6.25rem auto 2.375rem;
      max-width: 58.125rem;

      @include media-breakpoint-down(lg) {
        margin: 3.125rem auto 2.375rem;
      }

      >.nav-tabs {
        justify-content: center;
        text-transform: uppercase;

        @include media-breakpoint-down(sm) {
          // flex-direction: column;
          flex-wrap: wrap;

          .nav-link {
            width: max-content;
          }
        }
      }

      >.tab-content {
        // padding: 3.125rem 0;
        padding: 3.125rem 0 0;

        @include media-breakpoint-down(sm) {
          .gap-5 {
            gap: 1.5rem !important;
          }
        }
      }
    }

    &__addtional-info {
      >.item {
        margin-bottom: 1.875rem;

        label {
          min-width: 8.75rem;
          margin: 0;
        }
      }
    }

    &__swatches {
      .product-swatch {
        margin-bottom: 1.875rem;
        >label {
          font-size: 0.875rem;
          font-weight: 500;
          min-width: 3rem;
          text-transform: uppercase;
        }

        .swatch-list {
          display: flex;
          align-items: center;
          gap: 1rem;

          >input[type="radio"] {
            display: none;
          }
        }

        .sizeguide-link {
          margin-left: auto;
          font-size: 0.8125rem;
          font-weight: 500;
          text-transform: uppercase;
          line-height: 1.875rem;
          position: relative;

          @include media-breakpoint-down(xxl) {
            margin-left: 0;
          }

          &:before {
            content: "";
            border-bottom: 2px solid;
            display: block;
            width: 0;
            transition: all 0.3s ease;
            position: absolute;
            left: 0;
            bottom: 0;
          }

          &:hover:before {
            width: 100%;
          }
        }

        .swatch {
          transition: all 0.3s ease;
        }

        &.text-swatches {
          .swatch {
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            border: 1px solid $border-color;
            padding: 8px 12px;
            text-transform: capitalize;
            &:hover {
              border-color: $dark;
              color: $dark;
            }
            &.swatch_active {
              border-color: $color-red-700;
              color: $color-red-700;
            }

            &.filter-disable {
              opacity: 0.4;
              cursor: no-drop;
              pointer-events: none;
            }
          }

          input[type="radio"] {
            &:checked+label {
              border-color: $primary;
            }
          }
        }

        &.color-swatches {
          .swatch-color {
            margin: 0;
            border: 2px solid transparent;

            &.swatch_active,
            &:hover {
              border-color: $primary;
            }
            
          }

          input[type="radio"] {
            &:checked+label.swatch-color {
              border-color: $primary;
            }
          }

          .swatch-image {
            width: 3.875rem;
            height: 3.875rem;
            border: 1px solid transparent;

            &.swatch_active,
            &:hover {
              border-color: $border-color;
            }

            img {
              pointer-events: none;
            }
          }

          input[type="radio"] {
            &:checked+label.swatch-image {
              border-color: $border-color;
            }
          }
        }
      }
    }
  }

  &__aside {
    width: 37.5rem;
    right: -37.5rem;

    .aside-content {
      height: calc(100% - 9rem);
      overflow-y: auto;
    }
  }
}

html.snap {
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-y: repeat(100%);
}

button.js-add-wishlist,
a.add-to-wishlist {
  &.active {
    .flaticon.flaticon-heart {
      color: $color-red-700;
    }
  }
}