#noRecordFound {
    .noRecordFound-page {
        text-align: center;
        padding: 100px;
        .noRecordFound-page-title {
            h5 {
                font-weight: var(--fw-600);
            }
        }
        .noRecordFound-page-content {
            p {
                font-size: var(--fs-20px);
            }
        }
        .btn {
            padding-top: 12px;
            padding-bottom: 12px;
            @media (max-width: 576px) {
                font-size: var(--fs-14px);
                padding: 8px 18px;
            }
        }
        @media (max-width: 576px) {
            padding: 30px;
            .noRecordFound-page-title {
                h5 {
                    font-size: var(--fs-18px);
                }
            }
            .noRecordFound-page-content {
                p {
                    font-size: var(--fs-16px);
                }
            }
        }
    }
}
